body{
    padding: 0;
    margin: 15px;
    background-color: burlywood;
}

h1 {
    color: white;
    text-align: center;
  }
  div{
    text-box: auto;
  }
  body {
    font-family: 'Kanit', sans-serif;
  }
  .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



   